#File in Main Folder
config.py
db.sqlite3
database/
.vscode
supervisor.d/*
history_dir/*
web_server_logs/*

#Files in rank_matrix folder
rank_matrix/__pycache__
rank_matrix/tests.py

#Files in RankMatrix folder
RankMatrix/__pycache__
__pycache__

#Docker env
database.env
config.env
