#File in Main Folder
config.py
db.sqlite3
database/
extra


#Files in backend folder
backend/__pycache__
backend/tests.py

#Files in SOCE folder
SOCE/__pycache__
__pycache__

Extra/

#Migrations
**/migrations/**
!**/migrations
!**/migrations/__init__.py

db