#File in Main Folder
config.py
db.sqlite3
database/
extra
supervisor.d/*
history_dir/*
web_server_logs/*

#Files in backend folder
backend/__pycache__
backend/tests.py

#Files in RankMatrix folder
RankMatrix/__pycache__
__pycache__

#Docker env
database.env
database_connect.env

#Migrations
**/migrations/**
!**/migrations
!**/migrations/__init__.py
